<template>
    <div id="app" class="container">
        <app-header/>
        <transition name="main-animation" appear mode="out-in"
                    enter-active-class="animated fadeInUp"
                    leave-active-class="animated fadeOutDown">
            <router-view/>
        </transition>
    </div>
</template>

<script>
    import AppHeader from './components/Header.vue';
    import ArticleList from './components/ArticleList.vue';

    export default {
        name: 'app',
        components: {ArticleList, AppHeader},
    };
</script>

<style>
    * {
        font-family: 'Nunito', sans-serif;
    }

    #app {
        margin-bottom: 50px;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    @media (min-width: 768px) {
        .display-4 {
            font-size: 3rem;
        }
    }

    .card-img-right {
        height: 100%;
        border-radius: 0 3px 3px 0;
    }

    .flex-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .h-300 {
        height: 300px;
    }

    @media (min-width: 768px) {
        .h-md-300 {
            height: 300px;
        }
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    /*
     * Blog name and description
     */
    .blog-title {
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 400;
    }

    .blog-description {
        font-size: 1.1rem;
        color: #999;
    }

    @media (min-width: 40em) {
        .blog-title {
            font-size: 3.5rem;
        }
    }

    /* Pagination */
    .blog-pagination {
        margin-bottom: 4rem;
    }

    .blog-pagination > .btn {
        border-radius: 2rem;
    }

    /*
     * Blog posts
     */
    .blog-post {
        margin-bottom: 4rem;
    }

    .blog-post-title {
        margin-bottom: .25rem;
        font-size: 2.5rem;
    }

    .blog-post-meta {
        margin-bottom: 1.25rem;
        color: #999;
    }

    /*
     * Footer
     */
    .blog-footer {
        padding: 2.5rem 0;
        color: #999;
        text-align: center;
        background-color: #f9f9f9;
        border-top: .05rem solid #e5e5e5;
    }

    .blog-footer p:last-child {
        margin-bottom: 0;
    }
</style>
