<template>
    <div>
        <transition-group name="cards-animation" class="row mb-2" tag="div"
                          enter-active-class="animated zoomIn">
            <article-card :categorySlug="categorySlug" :article="a" v-for="a in articles" :key="a.slug"></article-card>
        </transition-group>
        <div class="col-12 d-flex justify-content-around">
            <router-link :to="prevPageLink" class="btn btn-info w-25" v-if="prev">Prev</router-link>
            <router-link :to="nextPageLink" class="btn btn-info w-25" v-if="next">Next</router-link>
        </div>
    </div>
</template>

<script>

    import ArticleCard from './ArticleCard.vue';

    export default {
        name: 'ArticleList',
        components: {ArticleCard},
        data() {
            return {
                articles: [],
                next: false,
                prev: false,
                page: 1,
                categorySlug: ''
            };
        },

        computed: {
            nextPageLink() {
                return '/' + this.categorySlug + '/' + (+this.page + 1);
            },
            prevPageLink() {
                return '/' + this.categorySlug + '/' + (+this.page - 1);
            }
        },

        beforeRouteEnter(to, from, next) {
            const slug = to.params['slug'];
            const page = to.params['page'];

            const params = {page};
            if (slug && slug !== 'all') {
                params['category'] = slug;
            }

            next(mv => {
                    mv.$http.get('/api/articles/', {params})
                        .then(res => {
                            mv.articles = res.data.results;
                            mv.next = res.data.next !== null;
                            mv.prev = res.data.previous !== null;
                        })
                        .catch(err => console.log(err));
                    mv.categorySlug = slug;
                    mv.page = page;
                }
            );
        },

        beforeRouteUpdate(to, from, next) {
            const slug = to.params['slug'];
            const page = to.params['page'];
            this.categorySlug = slug;
            this.page = page;

            const params = {page};
            if (slug && slug !== 'all') {
                params['category'] = slug;
            }
            this.$http.get('/api/articles/', {params})
                .then(res => {
                    this.articles = res.data.results;
                    this.next = res.data.next !== null;
                    this.prev = res.data.previous !== null;
                })
                .catch(err => console.log(err));
            window.scrollTo(0, 0);
            next();
        },
    };
</script>

<style scoped>

    .cards-animation-move {
        transition: transform 1s;
    }

    .cards-animation-leave-to {
        top: -100000000px;
        position: absolute;
    }

</style>