<template>
    <div class="col-md-6">
        <div class="card flex-row mb-4 box-shadow h-300">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">{{category}}</strong>
                <h3 class="mb-0">
                    <router-link class="text-dark" :to="articleLink">{{article.title}}</router-link>
                </h3>
                <div class="mb-1 text-muted">{{shortDate}}</div>
                <p class="card-text mb-auto article-preview-text">{{article.content}}</p>
                <router-link :to="articleLink">Continue reading</router-link>
            </div>

            <img class="card-img-right flex-auto d-none d-lg-block" :src="article.image"
                 alt="Image" width="200" v-if="article.image">
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ArticleCard',
        props: {
            article: Object,
            categorySlug: String,
        },
        computed: {
            category() {
                if (this.categorySlug) {
                    const index = this.article.categories.findIndex(val => val.slug === this.categorySlug);
                    if (index >= 0) {
                        return this.article.categories[index].name;
                    }
                }
                return this.article.categories.length && this.article.categories[0].name || '';
            },
            articleLink() {
                return '/article/' + this.article.slug;
            },
            shortDate() {
                const publishDate = new Date(this.article.published);
                const options = {month: 'short', day: 'numeric'};
                return publishDate.toLocaleString('en-US', options);
            }
        },
    };
</script>

<style scoped>

    .article-preview-text {
        overflow: hidden;
    }

</style>