<template>
    <div>
        <div class="col-md-10 offset-md-1 my-4" v-if="article">
            <h1 class="text-center">{{article.title}}</h1>
            <img :src="article.image" alt="Image" v-if="article.image" class="img-fluid">
            <p class="w-90 mx-auto my-3">{{article.content}}</p>
            <h5 class="text-right">
                Categories:
                <span v-for="c in article.categories" class="text-secondary" :key="c.slug">
                    {{c.name}}
                </span>
            </h5>
            <h5 class="text-right">
                Author: <router-link :to="userLink" class="text-secondary">{{article.user['username']}}</router-link>
            </h5>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Article',
        data() {
            return {
                article: undefined
            };
        },

        computed: {
            userLink() {
                return '/user/' + this.article.user.username + '/1';
            }
        },
        beforeRouteEnter(to, from, next) {
            const params = {'slug': to.params.slug};
            next(mv => {
                mv.$http.get('/api/articles/', {params})
                    .then(res => {
                        const articles = res.data.results;
                        if (articles.length === 1) {
                            mv.article = articles[0];
                        } else {
                            mv.$router.push('/all/1');
                        }
                    })
                    .catch(err => console.log(err));
            });
        }
    };
</script>

<style scoped>
    .w-90 {
        width: 90% !important;
    }
</style>