<template>
    <b-form>
        <h2 class="text-center">New Article</h2>
        <b-form-group label="Title" label-for="title">
            <b-form-input id="title" type="text"
                          v-model="title"
                          :state="titleState">
            </b-form-input>
            <b-form-invalid-feedback>
                Title is required!
            </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group label="Content" label-for="content">
            <b-form-textarea id="content" type="password"
                             v-model="content" :rows="5"
                             :state="contentState">
            </b-form-textarea>
            <b-form-invalid-feedback>
                Content is required!
            </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group label="Categories" label-for="categories">
            <b-alert :show="!categoryState" variant="warning" class="mb-3">
                You should check at least 1 category!
            </b-alert>
            <b-form-checkbox-group id="categories" multiple v-model="selectedCategories"
                                   :options="categoryOptions" buttons button-variant="light">
            </b-form-checkbox-group>

        </b-form-group>
        <b-form-group label="Image" label-for="image">
            <b-form-file id="image" v-model="image" accept="image/*" plain></b-form-file>
        </b-form-group>
        <b-alert :show="!isAuth" variant="danger" class="mb-3">
            You must sign in to create article!!!
        </b-alert>
        <button type="submit" class="btn btn-success w-100" @click.prevent="createArticle"
            :disabled="!isEnableToCreate">
            Create
        </button>
    </b-form>
</template>

<script>
    export default {
        name: 'ArticleForm',
        data() {
            return {
                title: '',
                content: '',
                image: null,
                selectedCategories: [],
                categoryOptions: [],

            };
        },

        computed: {
            titleState() {
                return this.title.length > 0;
            },
            contentState() {
                return this.content.length > 0;
            },
            categoryState() {
                return this.selectedCategories.length > 0;
            },
            isAuth() {
                return this.$store.state.jwt !== null;
            },
            isEnableToCreate() {
                return this.titleState && this.contentState && this.categoryState && this.isAuth;
            }
        },

        methods: {
            createArticle() {
                this.$store.dispatch('inspectToken');

                if (!this.isEnableToCreate) {
                    return;
                }

                const formData = new FormData();
                formData.append('title', this.title);
                formData.append('content', this.content);
                formData.append('categories_json', JSON.stringify(this.selectedCategories));
                if (this.image) {
                    formData.append('image', this.image, this.image.name);
                }
                this.$http.post('/api/articles/', formData, {
                    headers: {
                        'Authorization': 'JWT ' + localStorage.getItem('token'),
                        'Content-Type': 'multipart/form-data',
                    }
                })
                    .then(res => {
                        this.$router.push('/article/' + res.data.slug);
                    })
                    .catch(err => console.log(err));
            }
        },

        beforeCreate() {
            this.$http.get('/api/categories/')
                .then(res => {
                    for (let category of res.data) {
                        this.categoryOptions.push({
                            value: category,
                            text: category.name
                        });
                    }
                })
                .catch(err => console.log(err));
        }
    };
</script>

<style scoped>

</style>