<template>
    <div>

        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" href="#">Subscribe</a>
                </div>
                <div class="col-4 text-center">
                    <a @click="changeCategory('all')" style="cursor: pointer;">
                        <img src="../assets/logo/in-width/logo-transparent.png" alt="Blogi" height="50">
                    </a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="mx-3">
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                        </svg>
                    </a>
                    <b-dropdown :text="$store.state.username" class="btn-sm" v-if="$store.state.jwt">
                        <router-link class="dropdown-item" :to="profileLink">Profile</router-link>
                        <router-link class="dropdown-item" to="/new-article/">
                            New Article
                        </router-link>
                        <b-dropdown-item class="dropdown-item" @click="signOut">Sign Out</b-dropdown-item>
                    </b-dropdown>
                    <b-btn v-b-modal.loginModal class="btn btn-sm btn-outline-secondary" v-else>
                        Sign in/up
                    </b-btn>

                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-1 text-muted nav-link"
                   :class="{'active-link': currentCategory===c.slug}"
                   @click="changeCategory(c.slug)"
                   v-for="c in categories" :key="c.slug">
                    {{c.name}}
                </a>
            </nav>
        </div>

        <b-modal id="loginModal" ref="loginModal" centered hide-footer title="Sign in">
            <b-form>
                <b-alert variant="danger" dismissible
                         :show="alertInfo.show"
                         @dismissed="alertInfo.show=false">
                    {{alertInfo.message}}
                    <b-badge variant="danger" v-if="alertInfo.incorrectCount > 1">{{alertInfo.incorrectCount}}</b-badge>
                </b-alert>
                <b-form-group label="Username" label-for="username">
                    <b-form-input id="username" type="text"
                                  v-model="user_data.username"
                                  required placeholder="Username">
                    </b-form-input>
                </b-form-group>
                <b-form-group label="Password" label-for="password">
                    <b-form-input id="password" type="password"
                                  v-model="user_data.password"
                                  :state="passwordState"
                                  required placeholder="Password">
                    </b-form-input>
                    <b-form-invalid-feedback>
                        Enter at least 8 letters
                    </b-form-invalid-feedback>
                </b-form-group>
                <template v-if="isRegistration">
                    <b-form-group label="Confirm password" label-for="confirm-password">
                        <b-form-input id="confirm-password" type="password"
                                      v-model="confirmPassword"
                                      :state="confirmPasswordState"
                                      required placeholder="Confirm password">
                        </b-form-input>
                        <b-form-invalid-feedback>
                            Passwords should match
                        </b-form-invalid-feedback>
                    </b-form-group>
                    <button type="submit" class="btn btn-primary" @click.prevent="signUp">Sign Up</button>
                    <button type="button" class="btn btn-link" @click="isRegistration=false">Already have an account?
                    </button>
                </template>
                <template v-else>
                    <button type="submit" class="btn btn-primary" @click.prevent="signIn">Sign In</button>
                    <button type="button" class="btn btn-outline-dark" @click="isRegistration=true">Register</button>
                </template>
            </b-form>
        </b-modal>
    </div>

</template>

<script>

    export default {
        name: 'Header',
        data() {
            return {
                categories: [],
                currentCategory: '',
                user_data: {
                    username: '',
                    password: '',
                },
                alertInfo: {
                    show: false,
                    incorrectCount: 0,
                    message: String,
                },
                isRegistration: false,
                confirmPassword: '',
            };
        },

        computed: {
            passwordState() {
                return this.user_data.password.length >= 8;
            },
            confirmPasswordState() {
                return this.confirmPassword.length >= 8 && this.user_data.password === this.confirmPassword;
            },
            profileLink() {
                const username = this.$store.state.username;
                return '/user/' + username;
            }
        },

        beforeCreate() {
            this.$http.get('/api/categories/')
                .then(res => this.categories = res.data)
                .catch(err => console.log(err));
        },
        methods: {
            changeCategory(slug) {
                this.currentCategory = slug;
                this.$router.push('/' + slug + '/1/');
            },
            showAlert(message) {
                this.alertInfo.show = true;
                if (this.alertInfo.message === message) {
                    this.alertInfo.incorrectCount++;
                } else {
                    this.alertInfo.incorrectCount = 1;
                    this.alertInfo.message = message;
                }
            },
            hideAlert() {
                this.alertInfo.show = false;
                this.alertInfo.incorrectCount = 0;
                this.$refs.loginModal.hide();
            },
            signIn() {
                this.$http.post(this.$store.state.endpoints.obtainJWT, this.user_data)
                    .then(res => {
                        this.$store.commit('updateToken', res.data.token);
                        this.hideAlert();
                    })
                    .catch(err => {
                        this.showAlert('Incorrect username or password!');
                        this.user_data.password = '';
                    });
            },
            signUp() {
                if (this.user_data.password !== this.confirmPassword) {
                    this.alertInfo.show = true;
                    this.showAlert('Passwords should match!');
                    return;
                }
                this.$http.post('/api/users/', this.user_data)
                    .then(res => {
                        this.signIn();
                    })
                    .catch(err => {
                        const res = err.response.data;
                        let errorMessage = String;
                        if (res.username) {
                            errorMessage = 'Username: ' + res.username[0];
                        } else if (res.password) {
                            errorMessage = 'Password: ' + res.password[0];
                        } else {
                            errorMessage = 'Some undefined error. Sorry!';
                        }
                        this.showAlert(errorMessage);
                    });
            },
            signOut() {
                this.$store.commit('removeToken');
            },
        },
    };
</script>

<style scoped>
    .blog-header {
        line-height: 1;
        border-bottom: 1px solid #e5e5e5;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .nav-scroller .nav-link {
        font-size: 1.05rem;
    }

    .nav-scroller .nav-link:hover {
        cursor: pointer;
        color: #000 !important;
    }

    .active-link {
        color: #000 !important;
    }

    .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
        outline: none;
        background-color: #e6e6e6;
    }

    .dropdown-item:active {
        color: #000;
    }

</style>