<template>
    <div class="row">
        <div class="col-12 text-center my-3">
            <h2>{{getName}} articles:</h2>
            <h3 class="text-center" v-if="articles.length === 0">No articles at the moment!</h3>
        </div>
        <transition-group name="cards-animation" class="row mb-2" tag="div"
                          enter-active-class="animated zoomIn">
            <article-card :article="a" v-for="a in articles" :key="a.slug"></article-card>
        </transition-group>
        <div class="col-12 d-flex justify-content-around">
            <router-link :to="prevPageLink" class="btn btn-info w-25" v-if="prev">Prev</router-link>
            <router-link :to="nextPageLink" class="btn btn-info w-25" v-if="next">Next</router-link>
        </div>
    </div>
</template>

<script>
    import ArticleCard from './ArticleCard.vue';

    export default {
        name: 'UserPage',
        components: {ArticleCard},
        data() {
            return {
                username: '',
                articles: [],
                next: false,
                prev: false,
                page: 1,
            };
        },
        computed: {
            getName() {
                return this.username === this.$store.state.username ? 'Your' : this.username + '\'s';
            },
            nextPageLink() {
                return '/user/' + this.username + '/' + (+this.page + 1);
            },
            prevPageLink() {
                return '/user/' + this.username + '/' + (+this.page - 1);
            },
        },
        beforeRouteEnter(to, from, next) {
            const username = to.params['username'];
            const page = to.params['page'];
            const params = {username, page,};

            next(mv => {
                    mv.$http.get('/api/articles/', {params})
                        .then(res => {
                            mv.articles = res.data.results;
                            mv.next = res.data.next !== null;
                            mv.prev = res.data.previous !== null;
                            mv.username = username;
                            mv.page = page;
                        })
                        .catch(err => console.log(err));
                }
            );
        },

        beforeRouteUpdate(to, from, next) {
            const username = to.params['username'];
            const page = to.params['page'];
            this.username = username;
            this.page = page;

            const params = {username, page,};

            this.$http.get('/api/articles/', {params})
                .then(res => {
                    this.articles = res.data.results;
                    this.next = res.data.next !== null;
                    this.prev = res.data.previous !== null;
                })
                .catch(err => console.log(err));
            window.scrollTo(0, 0);
            next();
        },

    };
</script>

<style scoped>
</style>